
.form-label {
  font-weight: 400;
  margin-bottom: 10px;
  color: #0A0A0A;
  font-size: 18px;
}

.form-control, .form-select {
  padding: 18px 18px;
  border-radius: 0;
  border: 1px solid rgba(128,128,128, 0.55);
  background-color: transparent;
  font-size: 18px;
  color: $dark;

  &:focus {
    background-color: transparent;
    border: 1px solid;
    outline: 0;
    box-shadow: none;
  }
}
textarea {
  height: 213px;
  margin-bottom: 15px;

}

.form-group {
  padding-bottom: 15px;
}


input[type=number] {
  -moz-appearance: textfield;
}
