.btn-slider {
    position: absolute;
    right: 20.5%;
    bottom: -45px;

    // max-width: 767.98px
    @include media-breakpoint-down(md) {
        right: unset;
        left: 0;
    }
    
    .next-btn {
        border: 0;
        background-color: transparent;
    }


    &:hover {
        .next-btn {
            svg {
                path {
                    fill: $secondary;
                }
            }
        }
    }
}